.dropdown-toggle {
    color: white;
    background-color: #0d6efd !important
}
.linea-roja {
    width: 100%; /* Ajusta el ancho según sea necesario */
    height: 2px; /* Grosor de la línea */
    background-color: red; /* Color de la línea */
    margin: 10px 0; /* Espaciado superior e inferior */
}
.person{
    margin-left: 2rem;
}
.caracteristica-name{
    margin-left: 2rem;
    margin-right: 3rem;
    color: red
}

.caracteristica-birth{
    margin-right: 3rem;
    color: red
}

.caracteristica-gender{
    margin-right: 3rem;
    color: red
}

.caracteristica-height{
    margin-right: 3rem;
    color: red
}

.caracteristica-skin{
    margin-right: 3rem;
    color: red
}
.btn-danger {
    background-color: red;
    color: white;
}

.btn-outline-warning {
    background-color: transparent;
    color: orange;
    border: 1px solid orange;
}
.caracteristica-eyes{
    color: red
}
.plant{
    margin-left: 2rem;
}
.caracteristica-name{
    margin-left: 2rem;
    margin-right: 3rem;
    color: red
}

.caracteristica-diameter{
    margin-right: 3rem;
    color: red
}

.caracteristica-climate{
    margin-right: 3rem;
    color: red
}

.caracteristica-terrain{
    margin-right: 3rem;
    color: red
}

.caracteristica-orbitalperiod{
    margin-right: 3rem;
    color: red
}

.caracteristica-rotationperiod{
    color: red
}
.vehicle{
    margin-left: 2rem;
}
.caracteristica-name{
    margin-left: 2rem;
    margin-right: 3rem;
    color: red
}

.caracteristica-model{
    margin-right: 3rem;
    color: red
}

.caracteristica-manufacturer{
    margin-right: 3rem;
    color: red
}

.caracteristica-crew{
    margin-right: 3rem;
    color: red
}

.caracteristica-hyperdrive{
    margin-right: 3rem;
    color: red
}

.caracteristica-speed{
    color: red
}

.btnfooter {
    display:flex;
    justify-content: space-between; 
    padding: 0%; 
}
.card{
    margin: 1em;
    display: flex;
    flex-direction: column;
    min-height: 200px;
    min-width: 400px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.card-img-top-characteres{
    height: 447px;
    width: 398px;
}
.card-img-top-planets{
    height: 398px;
    width: 398px;
}
.card-img-top-vehicles{
    height: 265px;
    width: 398px;
}

.imagen-detalles{
    height: 600px;
    width: 800px;
}

.titleMain{
    color: red;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.overflow-x-scroll {
    overflow-x: auto; 
    white-space: nowrap; 
    background-color: gainsboro;
}

.nav-link:hover,
.nav-link:focus {
    color: white; 
    background-color: transparent;
}

.routerReact{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 22px;
}

.footer{
    background-color: rgba(128, 128, 128, 0.548);
}

.footer a {
    color: #00aced;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer .imgfooter {
    border: 1px solid #fff;
    border-radius: 50%;
    width: 35px;
    vertical-align: middle;
    margin-left: 8px;
}

.imgfooter {
    border-radius: 50%;
}