.dropdown-toggle {
    color: white;
    background-color: #0d6efd !important
}

.nav-link:hover,
.nav-link:focus {
    color: white; /* Mantiene el color original */
    background-color: transparent; /* Mantiene el fondo transparente */
}

.footer{
    background-color: rgba(128, 128, 128, 0.548);
}

.footer a {
    color: #00aced;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}



.footer .imgfooter {
    border: 1px solid #fff;
    border-radius: 50%;
    width: 35px;
    vertical-align: middle;
    margin-left: 8px;
}



.imgfooter {
    border-radius: 50%;
}