.footer{
    background-color: rgba(128, 128, 128, 0.548);
}

.footer a {
    color: #00aced;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer .logo {
    border: 1px solid #fff;
    border-radius: 50%;
    width: 35px;
    vertical-align: middle;
    margin-left: 8px;
}

img {
    border-radius: 50%;
}